Repository PHPCSStandards/PHPCSUtils, pull requests merged in 2020-03, with the labels that each got.

#106 Tokens\Collections: add new `$magicConstants` property
  PHPCSUtils/Tokens/Collections.php
Labels: Feature: (sniff) utils, Type: enhancement

#108 Revert "PHPUnit: be strict about covers annotations"
  phpunit.xml.dist
Labels: Type: chores/QA

#107 TestUtils\UtilityMethodTestCase: add new $phpcsVersion property
  PHPCSUtils/TestUtils/UtilityMethodTestCase.php
  Tests/BackCompat/BCFile/GetDeclarationNameJSTest.php
  Tests/BackCompat/Helper/GetCommandLineDataTest.php
  Tests/Utils/Numbers/GetCompleteNumberTest.php
  Tests/Utils/ObjectDeclarations/GetNameJSTest.php
  Tests/Utils/Operators/IsUnaryPlusMinusTest.php
Labels: Feature: test utils, Type: enhancement

#109 Tokens\Collections: new methods for improved compatibility with PHPCS 4.x
  PHPCSUtils/BackCompat/BCFile.php
  PHPCSUtils/Tokens/Collections.php
  PHPCSUtils/Utils/FunctionDeclarations.php
  PHPCSUtils/Utils/Variables.php
  Tests/Tokens/Collections/ParameterTypeTokensBCTest.php
  Tests/Tokens/Collections/PropertyTypeTokensBCTest.php
  Tests/Tokens/Collections/ReturnTypeTokensBCTest.php
Labels: Feature: (sniff) utils, Type: breaking change, Type: enhancement, Type: phpcs cross-version compat

#110 BCFile/ObjectDeclarations::getDeclarationName(): compatibility with PHPCS 4.x
  PHPCSUtils/BackCompat/BCFile.php
  PHPCSUtils/Utils/ObjectDeclarations.php
Labels: Feature: (sniff) utils, Feature: backcompat layer, Type: phpcs cross-version compat

#111 UtilityMethodTestCase: auto-skip JS/CSS tests when using PHPCS 4.x
  PHPCSUtils/TestUtils/UtilityMethodTestCase.php
Labels: Feature: test utils, Type: enhancement, Type: phpcs cross-version compat

#112 Composer: allow installation with PHPCS 4.x for testing purposes + Travis test it
  .travis.yml
  Tests/BackCompat/Helper/GetVersionTest.php
  composer.json
Labels: Type: chores/QA, Type: phpcs cross-version compat

#113 Tokens\Collections: add $OONameTokens property
  PHPCSUtils/Tokens/Collections.php
  PHPCSUtils/Utils/Operators.php
Labels: Feature: (sniff) utils, Type: enhancement

#114 Utils\ControlStructures: new `getCaughtExceptions()` method
  PHPCSUtils/Utils/ControlStructures.php
  Tests/Utils/ControlStructures/GetCaughtExceptionsTest.inc
  Tests/Utils/ControlStructures/GetCaughtExceptionsTest.php
Labels: Feature: (sniff) utils, Type: enhancement

#115 Tokens\Collections: add $OOHierarchyKeywords property
  PHPCSUtils/Tokens/Collections.php
  PHPCSUtils/Utils/Operators.php
Labels: Feature: (sniff) utils, Type: enhancement

#116 Tests: abstract the assertAttributeSame backfill out to a trait
  Tests/AbstractSniffs/AbstractArrayDeclaration/AbstractArrayDeclarationSniffTest.php
  Tests/AssertAttributeSame.php
Labels: Type: chores/QA, Type: enhancement

#117 Utils\UseStatements: add new `splitAndMergeImportUseStatement()` method
  PHPCSUtils/Utils/UseStatements.php
  Tests/Utils/UseStatements/SplitAndMergeImportUseStatementTest.inc
  Tests/Utils/UseStatements/SplitAndMergeImportUseStatementTest.php
Labels: Feature: (sniff) utils, Type: enhancement

#118 BackCompat\Helper: add `getEncoding()`helper method
  PHPCSUtils/BackCompat/Helper.php
  PHPCSUtils/Utils/Orthography.php
  Tests/BackCompat/Helper/GetCommandLineDataTest.php
Labels: Feature: backcompat layer, Type: enhancement

#119 New `NamingConventions` class
  PHPCSUtils/Utils/NamingConventions.php
  Tests/Utils/NamingConventions/IsEqualTest.php
  Tests/Utils/NamingConventions/IsValidIdentifierNameTest.php
Labels: Feature: (sniff) utils, Type: enhancement

#120 TestUtils\UtilityMethodTestCase: add test for the skipJSCSSTestsOnPHPCS4() method
  Tests/TestUtils/UtilityMethodTestCase/SkipCSJSTest.js
  Tests/TestUtils/UtilityMethodTestCase/SkipCSJSTest.php
Labels: Feature: test utils, Type: chores/QA

#121 Docs: Minor fixes for home page content
  README.md
  docs/index.html
Labels: Type: documentation

#127 FunctionDeclarations::isMagicFunction(): bug fix for nested functions
  PHPCSUtils/Utils/FunctionDeclarations.php
  Tests/Utils/FunctionDeclarations/SpecialFunctionsTest.inc
  Tests/Utils/FunctionDeclarations/SpecialFunctionsTest.php
Labels: Feature: (sniff) utils, Type: bug

#128 Travis: fix the build
  .travis.yml
Labels: Type: chores/QA
